.detail {
    color: white;
}

.bg {
    object-fit: contain;
    height: 100%;
    width: 100%;
    position: fixed;
    background-color: #111111;
    background-image: url('../logo/bg.jpg');
}

.not_found {
    color: white;
    outline: none;
    border: none;
    font-weight: 700;
    border-radius: 1vw;
    align-self: center;
    background-color: rgba(51, 51, 51, 0.8);
    padding: 0.5rem 2rem;
    height: 50%;
    width: 50%;
    margin-left: 25%;
    margin-right: 25%;
    margin-top: 10%;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.title {
    margin-bottom: 30px;
    margin-top: 30px;
}

.description {
    font-size: 20px;
    font-weight: normal;
    text-align: center;
}

.desc_div {
    margin-top: 20px;
    border-radius: 0.2vw;
    margin-right: 1rem;
    background-color: rgba(51, 51, 51, 0.5);
    padding: 0.5rem;
    width: 23rem;
}

.tagline {
    text-align: center;
    font-style: italic;
    font-weight: normal;
    font-size: 15px;
    margin-top: 10px;
}

.logo {
    object-fit: contain;
    transition: all 0.2s;
    margin: 0 10px;
}

.logo:hover {
    transform: scale(1.1);
}

.prod_companies {
    margin-top: 10px;
    height: 50px;
    bottom: 0;
    position: fixed;

    display: flex;
    flex-direction: row;
    justify-content: center;

    background-color: rgb(220,26,40);

    border-radius: 1vw;
    margin-right: 1rem;
    margin-bottom: 10px;
    padding: 0.5rem;
    width: 100%;
}

.rating_div {
    margin-top: 10px;
    width: 100%;
    justify-content: center;
    display: flex;
}

.rating {
    font-size: 20px;
}