.row_poster {
    object-fit: contain;
    width: 100%;
    max-height: 200px;
    transition: transform 450ms;
    margin-right: 4px;
    padding: 5px;
}

.row_posters {
    display: flex;
    overflow-y: hidden;
    overflow-x: scroll;
}

.row_posters::-webkit-scrollbar {
    display: none;
}

.row_poster:hover {
    transform: scale(1.16);
}